<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br>
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <br>
        <h5 class="media-heading user-role"><%= @user.role.capitalize %></h5> <!-- coding niceity added by me. I wanted to see what role every user has -->
        <br>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>
          <div class="js-comments-count"><%= pluralize(@user.comments.count, 'comment') %></div>
        </small>
      </div>
    </div>
  </div>
</div>
<h2>Posts</h2>
<%= render @user.posts %>

<h2>Comments</h2>
<%= render @user.comments %>
